Source: libpve-common-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               libanyevent-perl,
               libclone-perl,
               libdevel-cycle-perl,
               libfilesys-df-perl,
               libhttp-message-perl,
               libjson-perl,
               liblinux-inotify2-perl,
               libnet-ip-perl,
               libnetaddr-ip-perl,
               libproxmox-rs-perl,
               libstring-shellquote-perl,
               libtest-mockmodule-perl,
               libyaml-libyaml-perl,
Standards-Version: 4.6.2

Package: libpve-common-perl
Architecture: all
Depends: libanyevent-perl,
         libclone-perl,
         libcrypt-openssl-random-perl,
         libcrypt-openssl-rsa-perl,
         libdevel-cycle-perl,
         libfilesys-df-perl,
         libhttp-daemon-perl,
         libhttp-message-perl,
         libio-stringy-perl,
         libjson-perl,
         liblinux-inotify2-perl,
         libmime-base32-perl,
         libnet-dbus-perl,
         libnet-ip-perl,
         libnetaddr-ip-perl,
         libproxmox-acme-perl,
         libproxmox-rs-perl,
         libstring-shellquote-perl,
         libtimedate-perl,
         liburi-perl,
         libwww-perl,
         libyaml-libyaml-perl,
         ${misc:Depends},
         ${perl:Depends},
Breaks: ifupdown2 (<< 2.0.1-1+pve5),
        libpve-guest-common-perl (<< 5.0.1),
        pmg-api (<< 7.1-5),
        pve-container (<< 4.3-1),
        pve-manager (<< 7.2-9),
        qemu-server (<< 8.0.1),
Description: Proxmox VE base library
 This package contains the base library used by other Proxmox VE components.
