Source: libpve-common-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~),
               libclone-perl,
               libdevel-cycle-perl,
               libfilesys-df-perl,
               libhttp-message-perl,
               libjson-perl,
               liblinux-inotify2-perl,
               libnet-ip-perl,
               libstring-shellquote-perl,
               libtest-mockmodule-perl,
Standards-Version: 3.9.8

Package: libpve-common-perl
Architecture: all
Depends: libclone-perl,
         libcrypt-openssl-random-perl,
         libcrypt-openssl-rsa-perl,
         libdevel-cycle-perl,
         libfilesys-df-perl,
         libhttp-daemon-perl,
         libhttp-message-perl,
         libio-stringy-perl,
         libjson-perl,
         liblinux-inotify2-perl,
         libmime-base32-perl,
         libnet-dbus-perl,
         libnet-ip-perl,
         libnetaddr-ip-perl,
         libproxmox-acme-perl,
         libstring-shellquote-perl,
         libtimedate-perl,
         liburi-perl,
         libwww-perl,
         libyaml-libyaml-perl,
         ${misc:Depends},
         ${perl:Depends},
Breaks: ifupdown2 (<< 2.0.1-1+pve5),
        pmg-api (<< 6.1-7),
        pve-container (<< 3.0-9),
        pve-manager (<< 5.2-5),
        qemu-server (<< 5.0-49),
Description: Proxmox VE base library
 This package contains the base library used by other Proxmox VE components.
