Source: libpve-common-perl
Section: perl
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~), libjson-perl, liblinux-inotify2-perl, libfilesys-df-perl, libstring-shellquote-perl
Standards-Version: 3.8.4

Package: libpve-common-perl
Architecture: all
Depends: ${perl:Depends} ${misc:Depends}, libclone-perl, libdevel-cycle-perl, libwww-perl, libjson-perl, liblinux-inotify2-perl, libio-stringy-perl, liburi-perl, libstring-shellquote-perl, libnet-ip-perl, libfilesys-df-perl, libnet-dbus-perl, libcrypt-openssl-rsa-perl, libcrypt-openssl-random-perl
Breaks: qemu-server (<< 4.0-108), pve-container (<< 1.0-93)
Description: Proxmox VE base library
 This package contains the base library used by other Proxmox VE components.
